.header {
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, height 0.3s;
}

.header button {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.header button:hover {
  background-color: #2980b9;
}
