.welcome_page {
  margin: 5%;

  .welcome__header {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .course {
    margin-bottom: 30px;
  }

  .project {
    margin-bottom: 30px;
  }

  .team {
    .team_header {
      text-align: center;
    }

    .team_members {
      display: flex;
      justify-content: space-around;
      padding: 30px;
      // flex-direction: co;
    }
  }
}